body{
	background-image: url(../images/project.jpg);
	animation: changePicture 27s;
	background-size: 100%;
}
#button{
	position: fixed;
	top: 1%;
	left: 1%;
}
#backbutton{
	position: fixed;
	top: 85%;
	left: 85%;
}
@keyframes change{
	from{
		background-image: url(../images/project.jpg);
 	}
	to{
       background-image: url(../images/project1.jpg);
	}
}

@keyframes rotate{
	from{

	}
	to{
		transform: rotate(360deg);
	}
}